
body {
    font-family: 'Khula', sans-serif;
}

.prelude{
      
    background: url("../img/prelude-bg.jpg");
    background-repeat: no-repeat;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}
.conteiner{
    width: 1440px;
    max-width: calc( 100% - 64px);
    padding: 0 32px;
}
header .header_menu-icon{
width: 28px;
height: 28px;
padding: 3px 0;
}
.header_menu-icon span{
    width: 20px;
    height: 2px;
    background: white;
    display: block;
    margin: 4px;
}
.header_logo{
    font-family: 'Playfair Display';
    font-size: 28px;
    font-weight: bold;
}
.header_logo i{
    font: italic;
}
.prelude-content-title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 80px;
    font-weight: bold;
    line-height: 1.1;
    padding: 40px 0 24px;
    font-weight: 700;
    max-width: 704px;
}
.prelude-content-subtitle{
    font-size: 32px;
    line-height: 40px;
    font-family: 'khula';
    font-weight: normal;
    font-style: normal;
    max-width: 469px;
}
.slide-controls{
   
    margin-top: 80px;
    padding-bottom: 20px;
}
.slide-tracks{
    display: flex;
   
}
.slide-controls_previous{
    margin-right: 10px;
    
}
.slide-tracks_item{
    width: 32px;
    height: 4px;
    opacity: 0.5;
    border-radius: 10px;
    background: white;
    margin-right: 8px;
    margin-top: 100px;
    cursor: pointer;
    transition: .5s all;
}
.slide-tracks_item--active{
    opacity: 1;
}
.slide-tracks_item:hover:not(:first-child){
 background-color: red;
}
.position1{
    position: relative;
    margin-left: 40px;
    margin-top: 50px;
    
}
.position1 img{
    width: 570px;
    
}
.position2{
    font-family: 'Playfair Display';
    position: relative;
    margin-left: 760px;
    top: -450px;
    font-weight: bold;
    font-size: 56px;
    
    }
.position3{
    position: relative;
    margin-left: 760px;
    top: -450px;
    font-family: 'khula' ;
    font-size: 32px;
    margin-top: 15px;
}
.position4{
    position: relative;
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: normal;
    margin-left: 150px;
    top: -100px;
    font-size: 56px;
}
.section_position{
    font-family: 'khula' ;
    margin-left: 150px;
    font-size: 32px;
    font-style: normal;
    top: 50px;
    margin-top: -80px;
}
.position5{
    position: relative;
    margin-left: 720px;
    top: -180px;
    margin-right: 100px;
    
}
.position5 img{
   width: 570px;
    

}
.aside-aside{
    margin-left: 40px;
    margin-bottom: 100px;
	margin-top: -50px;
}
.aside-aside h2{
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px; 
    color: #A0996C;
}

.aside-aside p{
    padding-top: 5px;
}
.aside_displa-flexfirst{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: -1px;
    
}
.aside_displa-flexfirst p{
padding-left: 120px;
padding-top: 30px;
}
.aside_displa-flexfirst img{
    padding-left: 140px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 140px;
    height: 184px;
}
.main_bold{
    position: relative;
    right: 125px;
    font-family: 'khula';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    
    
}
.main_invi{
    position: relative;
    right: 110px;
    font-family: 'khula';
    color: gray;
    
}
.aside_displa-flexsecond{
    display: flex;
    justify-content: space-between;
   
}
.aside_displa-flexsecond p{
    padding-left: 120px;
    padding-top: 30px;
}
.aside_displa-flexsecond img{
    padding-left: 140px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 140px;
    height: 184px;
}
.aside_left-background{
    background: #F7F1E6;
    height: 370px;
    border-radius: 8px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.main_button-left{
    position: relative;
    top: -15px;
    right:-120px;
    border: solid #0B1D03;
    background-color:#0B1D03;
    color: white;
    width: 200px;
    height: 46px;
    border-radius: 4px;
    margin-top: 25px;
    
}
.aside_center-background{
    background: #F7F1E6;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.main_button-center{
    position: relative;
    top: -15px;
    right:-120px;
    border: solid #0B1D03;
    background-color:#0B1D03;
    color: white;
    width: 200px;
    height: 46px;
    border-radius: 4px;
    margin-top: 25px;
}
.aside_right-background{
    background: #F7F1E6;
    height: 370px;
    border-radius: 8px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.relative1 img{
    margin-bottom: 20px;
}
.absolute1 img{
    margin-bottom: 20px;
    margin-left: 20px;
}
.absolute2 img{
    margin-left: 30px;
    margin-bottom: 20px;
}
.absolute3 img{
    margin-left: 50px;
    margin-bottom: 20px;
}
.absolute4 img{
    margin-left: 55px;
    margin-bottom: 20px;
}
.section-section-section{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    font-size: 20px;
    font-family: 'khula' ;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 40px;
    margin-right: 40px;
   
  }
.sectio_display-inline{
    display: flex;
    margin-left: 40px;
    margin-bottom: 80px;
}
.background-image2{
    background: url("../img/rectangle20.png");
    width: 604px;
    height: 500px;
    font-size: large;
    color: white;
    margin-right: 25px;
    margin-top: 10px;
    
}
.background-image2 h2{
    font-family: 'Playfair Display';
    position: relative;
    font-size: 56px; 
    top: 315px;
    padding-left: 20px;
    
}
.background-image2 h3{
  font-family: 'khula' ;  
  position: relative;
  top: 335px;
  font-size: 20px;
  padding-left: 20px;
}
.background-image3{
   background: url("../img/rectangle21.png");
    width: 604px;
    height: 500px;
    font-size: large;
    color: white;
    margin-top: 10px;
}
.background-image3 h2{
    font-family: 'Playfair Display';
    position: relative;
    font-size: 56px; 
    top: 315px;
    padding-left: 20px;
}
.background-image3 h3{
    font-family: 'khula' ;
    position: relative;
    top: 335px;
    font-size: 20px;
    padding-left: 20px;
}
.section_font{
    font-family: 'Playfair Display'; 
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 60px;
margin-left: 40px;
margin-bottom: 0;
}
.section-section-section-section{
    margin-left: 40px;
    margin-bottom: 20px;
}

.section-section-section-section_text{
    height: 45px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 25px;
    width: 320px;
}
.fontfamily-playfair{
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 28px;
    font-weight: bold;
    margin-left: 40px;
}
.width2{
    width: 875px;
    height: 45px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 25px;
}
.width{
    margin-left: 40px;
}
.width img{
    width: 1230px;
    height: 512px;
    border-radius: 8px;
   
}
footer{
 background: #F7F1E6;
 margin-top: 15px;
 height: 200px;
 font-family: 'khula';
 
}
.footer_spaced{
    position: relative;
    top:-20px;
    left: 200px;
    line-height: 28px;
    font-size: 20px;
    margin-left: 80px;
    
}
footer ul{
    display: inline-block;
    list-style: none;
    margin-left: 100px;
 }
footer a{
    text-decoration: none;
    color: inherit;
}
.list-style{
    list-style: none;
    text-decoration: inherit;
    
}
.inline{
    position: relative;
    top: -70px;
    left: 55px;
}
.inline label{
    position: relative;
    top: -60px;
    font-size: 20px;
}
.inline li{
     display: inline-block;
      }
.absolute5{
    position: relative;
    right: 150px;
}
.absolute6{
    position: relative;
    right: 135px;
}
.absolute7{
    position: relative;
    right: 120px;
}
.footer_h4{
    text-align: center;
    font-size: 20px;
}
.footer_h4 b{
font-size: 20px;
}
.cards{
    position: relative;
    top: -100px;
}
.cards img{
    width: 1200px;
    margin-left: 80px;
    
}
    
